body {
  padding-top: 50px;
}
p{margin:2px 0}
#room div[data-role=content]{
  padding:0;
  border:0
}
#my-chat-room div[data-role=content]{
  padding:0;
  border:0
}
#attended-chat-room div[data-role=content]{
  padding:0;
  border:0
}
div[data-role=header],div[data-role=footer]{
  background-color: whitesmoke;
}
.room-chat-area{
	margin: 0;
	background: #b2c7d9;
	overflow-x: auto; 
	font-size: 0.8em;
	height:90%;
}
.chat-area{
	border: 1px solid #999999;
	padding:10px 0;
	height: 400px;
	background: #b2c7d9;
	overflow-x: auto; 
	font-size: 0.8em;
}
.my-message{
	float:right;
	width: 60%;
	max-width: 60%;
	margin :2px;
}
.my-text div{
	float:right;
	text-shadow:none;
	border-radius: 10px;
	background:#ffeb33;
	padding:5px 10px;
	max-width:100%;
	word-break:break-all;
}
.someones-message{
	float:left;
	width: 60%;
	margin :2px;
}
.someones-image{
	border-radius: 30px;
	float:left;
	max-width:30%;
	margin: 0 3px;
}
.someones-image img{
	width: 40px; height: 40px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}
.someones-text {
	text-shadow:none;
	float:left;
	max-width:70%;
}
.someones-text .sender{
	font-weight: bold;
}
.someones-text .text{
	
	border-radius: 10px;
	background-color:#ffffff;
	padding : 5px 10px;
	max-width:100%;
	word-break:break-all;
}
.news-massage{
	float:left;
	width:100%;
}
.news-text{
	border-radius: 20px;
	background-color:#e9e9e9;
	text-align: center;
	padding:5px;
	margin: 5px 10%;
}

.red{color:red;}
.roomtitle{
	font-weight: bold;
}
.roominfo{
	font-size: 0.7em;
}
.roomnum{
	font-size: 0.7em;
	font-weight: normal;
	margin: 0 10px;
}
#kakaoLogin{
	margin:400px 0 0 ;
	background:#ffeb33;
	text-shadow: none;
	
}